:root {
    --green: #b3ffa9;
    --pink: #ffa9b3;
    --purple: #a9b3ff;
    --yellow: #fdff98;
    --brown: #dfc189;
}

* {
    padding: 0;
    margin: 0;
}

header {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.window {
    position: absolute;
    height: calc(100% - 80px);
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    color: white;
}

.window > form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.window > form > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
}

.hidden {
    display: none;
}

body {
    background: whitesmoke;
}

h2 {
    text-align: center;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 16px;
}

#trainerContainer {
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

/* .pokeContainer { */
/*     display: flex; */
/*     flex-wrap: wrap; */
/*     gap: 10px; */
/*     padding: 10px; */
/* } */

.pokemon {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
    width: 150px;
}

article {
    background: var(--green);
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    width: 350px;
    border: 5px solid black;
    border-radius: 15px;
    padding: 5px;
}
